<!-----------------------头部----开始--------------------------------------->
<div id="header">
    <div class="navbar-header">
        <div class="navbar-brand">
            <div class="header_L">
                <a href="ad_index.html">
                    <img src="images/logo.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav nav-pills margTop">
            <li><i class="glyphicon glyphicon-user whiteCol"></i></li>
            <li>
                <p class="whiteCol row_delMg">{{userName}}</p>
                <div><a href="#" class="login_a" {{action "logout"}}>注销</a><span class="whiteCol Mag2">|</span><a href="#" class="login_a" {{action "exit"}}>退出</a></div>
            </li>

        </ul>
        <button class="navbar-toggle collapsed btn_bg" data-target="#navbar-menu" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar_bg"></span>
            <span class="icon-bar bar_bg"></span>
            <span class="icon-bar bar_bg"></span>
        </button>
    </div>
</div>
<!-----------------------头部----结束--------------------------------------->
<div class="row row_delMg">
    <!-----------------------导航----开始--------------------------------------->
    <div class="col-sm-3 col-md-2 row_bg pad_zero">
        <div class="menu_tips">NAVIGATION</div>
        <div id="navbar-menu" class="navbar-collapse collapse">
            <ul class="nav">
                <li class="li_btm_bg hide" id="place">
                    <a href="#menu-app" class="gaik"><span class="glyphicon glyphicon-inbox span_size"></span>场所管理</a>
                    <ul class="nav nav-list collapse second-menu in" id="menu-app">
                        <li id="li-place-info">
                            <a href="placeInfo.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                场所信息
                            </a>
                        </li>
                        <li id="li-place-location">
                            <a href="placeLocation.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                场所位置
                            </a>
                        </li>
                        <li id="li-place-map">
                            <a href="placeMap.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                场所地图
                            </a>
                        </li>
                        <li id="li-place-business">
                            <a href="placeBusiness.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                场所商家
                            </a>
                        </li>
                        <li id="li-place-position">
                            <a href="placePosition.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                定位设备
                            </a>
                        </li>
                        <li>
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                场所人流分布
                            </a>
                        </li>
                        <li>
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                用户管理
                            </a>
                        </li>
                        <li>
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                用户组管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="li_btm_bg hide" id="business">
                    <a href="#menu-hd" class="gaik"><span class="glyphicon glyphicon-lock span_size"></span>商家管理</a>
                    <ul class="nav nav-list collapse second-menu in" id="menu-hd">
                        <li id="li-business-info">
                            <a href="merchantsInfo.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                商家信息
                            </a>
                        </li>
                        <li id="li-business-location">
                            <a href="merchantsLocation.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                商家位置
                            </a>
                        </li>
                        <li id="li-business-promotion">
                            <a href="merchantsPromotion.html" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                促销活动
                            </a>
                        </li>
                        <li>
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                优惠券使用统计
                            </a>
                        </li>
                        <li>
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                商家人流分析
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="li_btm_bg hide" id="system">
                    <a href="#menu-fk" class="gaik"><span class="glyphicon glyphicon-hdd span_size"></span>系统管理</a>
                    <ul class="nav nav-list collapse second-menu in" id="menu-fk">
                        <li id="li-system-place">
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                场所管理
                            </a>
                        </li>
                        <li id="li-system-business">
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                商家管理
                            </a>
                        </li>
                        <li id="li-system-usergroup">
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                用户组管理
                            </a>
                        </li>
                        <li id="li-system-user">
                            <a href="#" class="xl_a">
                                <i class="icon-caret-right font_dot"></i>
                                用户管理
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-----------------------导航----结束--------------------------------------->
    <div class="col-sm-9 col-md-10 pad_zero" style="background-color: #f3f3f3; overflow: hidden;">
        <div class="container-fluid pad_zero">
            {{outlet}}
        </div>
    </div>
</div>