@charset "utf-8";
/* CSS Document */
html { height: 100%; }
* { margin: 0; padding: 0; border: 0; list-style: none; font-family: "微软雅黑",Arial, Helvetica, sans-serif; }
body { height: 100%; margin: 0px; padding: 0px; background: #eee; color:#535353;}

/****bootStrap****/
.btn:focus, .btn:active:focus, .btn.active:focus {outline:none;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {vertical-align:middle;}
.navbar-toggle {margin-top:0;}
.nav-pills > li + li {margin-left:12px;}
.table {background-color: #f9f9f9; margin-bottom:20px;}
.row_delMg { margin: 0; }
.navbar-collapse { padding-right: 0px;  padding-left: 0px; }
.navbar-brand {padding: 10px;}
.navbar-right {padding-right: 10px;}
a:hover { text-decoration: none; }
.margTop { margin-top:18px;}
.margRight { margin-right:10px;}
.border_btm {border-bottom:1px solid #ddd;}
.gray {color:#cdcdcd;}
.Mag {margin:0 20px;}
.Mag2 {margin:0 6px;}
.fL {float:left;}
.form-horizontal .radio {padding-top:0;}
.marg_btm { margin-bottom: 10px; }
.marg_btm2{margin-bottom: 13px;}
.marg_btm3{margin-bottom: 5px;}
.pad_zero {padding:0;}
.border_radius {border-radius:0;}
.noBorder {border:none;}
.NoMg { margin-left: 0; }
.NoMgBoth{margin-left: 0; margin-right: 0; }
.NopadLeft {padding-left:0;}
.NopadRight {padding-right:0;}
.clearfix {clear:both;}
.pad_L_twty {padding-left:20px;}
.textar { background-color: #eee; border: 1px solid #ccc; padding: 10px; color: #666;}
.btn_xz {color:#4586EE;border:2px solid #4486EE;}
.dropdown-menu {background-color:#f9f9f9; border-radius:0; border:1px solid #4587ef; box-shadow:none;}
    .dropdown-menu > li > a:hover {background-color:#4587ef;color:#fff;}

.whiteCol {color:#fff;}
.login_a:link,.login_a:visited {color:#fff;}
.report_con {border:1px solid #ddd;}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) { 
    #header { height: 160px; background: #1568c3; }
    .nav_top_2 { background-color: #fff; color: #545454; border-bottom: 1px solid #cdcdcd; padding: 5px 15px; font-size: 15px; }
    .dot_line { display: none; }
    .table-responsive > .table {margin-bottom:20px;}
    .form-horizontal .control-label {text-align:right;}
    .col-md-2::before { display: block; content: ""; position: fixed!important; top: 0; bottom: 0; width: 100%; overflow: hidden; z-index: -1; background-color: #414447; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {width:auto;} 
    #header { height: 80px; background: #1568c3; }
    .nav_top_2 { background-color: #fff; color: #545454; border-bottom: 1px solid #cdcdcd; padding: 5px 15px; font-size: 15px; }
    .dot_line { margin: 7px 8px 0; width: 2px; }
    .col-md-2::before { display: block; content: ""; position: fixed!important; top: 0; bottom: 0; width: 25%; overflow: hidden; z-index: -1; background-color: #414447; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col-md-2::before { display: block; content: ""; position: fixed!important; top: 0; bottom: 0; width: 16.66%; overflow: hidden; z-index: -1; background-color: #282828; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .col-md-2::before { display: block; content: ""; position: fixed!important; top: 0; bottom: 0; width: 16.66%; overflow: hidden; z-index: -1; background-color: #282828; }
}
.header_L { padding:16px 15px 0 0;}
.table-responsive .table2 tr .red {color:#f00;}
.margin_top { margin-left: 15px; }
    .margin_top .btn_change, .margin_top .btn_change_current { border-radius: 0; background-color: #044f87; color: #0769b2; border: none; font-weight: bold; }
        .margin_top .btn_change:hover, .margin_top .btn_change_current { background-color: #fff; }
.shu_line { margin: 0 8px; color: #3b8bc7; height: 33px; line-height: 28px; font-size: 30px;width:2px; display:block; }
.account { font-size: 16px; color: #fff;display:block;font-weight:bold;  }
.nav-pills > li > a.account { padding: 10px; }
    .nav-pills > li > a.account:hover, .nav-pills > li > a.account:focus { border-radius: none; background:#f9f9f9; color: #4587ef;display:block; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {color:#4587ef;}
.nav-pills > li > a.account2 {width:40px;
}
.btn_bg { background-color: #044f87; }
.bar_bg { background-color: #ccc; }
.color_a:link, .color_a:visited { color: #fff; font-size: 16px; }
.span_size { margin-right: 20px; }
.gaik:link, .gaik:visited { color: #989898; }
.nav > li > a.gaik:focus { background-color: #414447; color: #fff; }
.gaik:hover { color: #fff; }
.second-menu { background-color: #eeeeee;border-right:1px solid #dbdbdb; }
.font_dot {margin-right:20px; color:#CACACA;}
.login_bg {background-color:#414447;}
.nav > li > a:hover, .nav > li > a:focus{background-color:#282828;}
/*--------------------------首页开始-------------------------*/
.row_col3_bg { padding: 0 25px 12px; background-color: #e87e04; overflow: hidden; width: 100%; }
.row_col3_bg2 { background-color: #f3c500; }
.row_col3_bg3 { background-color: #5babe6; }
.row_col3_bg4 { background-color: #01bf9d; }
.row_col3_margR { margin: 0 10px 15px 0; padding-top: 10px; padding-bottom: 10px; }
.con_num { margin-left: 20px; font-size: 20px; color: #fff; font-weight: bold; }
.row_col3_wz { color: #fff; font-size:16px; margin-top:5px; }
.pic_height { height: 60px; line-height: 60px; font-size: 32px; color: #fff; font-weight: bold; }
.pic_height_bg { padding-left: 50px; }
.qq_ab { position: absolute; top: 0px; left: 15px; }
.pic_height_bg4 { padding-left: 32px; }
.Margin_btm { position: relative; margin-bottom:15px; }
.marg_btm2 { margin-bottom: 30px; }
.panel_bg { background-color: #f9f9f9; border:1px solid #ccc;}
.panel_hed_cl {  font-size: 18px; font-weight: bold; padding-left: 20px; border-bottom: 1px solid #ccc; }
.cl_cc { color: #959595; }
.panel-body_ul { margin-left: 25px; }
    .panel-body_ul li { line-height: 26px; }
.menu_tips {color:#989898;height:30px;line-height:30px; font-size:12px;padding-left:15px;}
.second-menu > li {border-bottom:1px solid #dbdbdb;}
.col_blue { color:#0866c6;}
.col_blue:link, .col_blue:visited{color:#0866c6;}
.col_black {color:#333;}
.nav-tabs > li > a {border-radius:0;margin-right:0; color:#989898;border:none;height:80px; line-height:60px;}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#0866c6;color:#fff;}
.nav_top2_con { line-height:81px; border-bottom:1px solid #dbdbdb;background-color:#fff;}
.nav_top2_L {font-size:24px; color:#0866c6;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background-color:#0866c6;color:#fff;border:none;}
.nav-tabs {border-bottom:none;}

.nav-active a { background-color: #fff; font-size: 14px; }
.nav-active i { color: #0866c6; }

a:focus { outline:none; outline-offset:0;}
.tab-content {background-color:#f3f3f3;}
/*--------------------------首页结束-------------------------*/
/*--------------------------查看广告-------------------------*/
.adview_a {padding:3px 8px; display:inline-block; background-color:#F3C500; margin-right:15px;color:#fff;}
    .adview_a:link, .adview_a:visited { color:#fff;}
    .adview_a:hover {color:#fff;}
.adview_a_bg2 {background-color:#5BABE6;}
.adview_a_bg3 {background-color:#01BF9D;}
.adview_a_bg4 {background-color:#FF4724;}
.page_L_border {padding:5px 10px; border:1px solid #ccc;}
.tab_outside {background-color: #f9f9f9;border: 1px solid #ddd;padding: 20px;}
.pagination {margin:6px 0 3px;}
.table th, .table td { text-align: center;}

/*--------------------------查看广告----------完---------------*/


/*------------------用户组管理-------------------------------------*/
.table-responsive .table3 th:first-child, .table-responsive .table3 tr td:first-child {text-align:left;}
.table-responsive .table3 th:first-child {padding-left:15px;font-size:16px;}
.table-responsive .table3 tr td:first-child {padding-left:25px;}


/*-----------------登陆--------------------------*/
.forget_div{ height: 50px; background: #fff; line-height: 50px; text-align: right; padding-right: 60px; }
.forget_a:link,.forget_a:visited { color: #838383; text-decoration: underline; font-size: 16px; }
.logo_bg { height: 70px; background-color: #4486ee; padding: 10px 0;width:100%; }


.nav > li > a.gaik_a:link, .nav > li > a.gaik_a:visited { color: #545454; }
.current { background-color: #eaeaea; }

.li_btm_bg { border-bottom: 1px solid #000; }

    .li_btm_bg .gaik .span_fl_R { float: right; margin-top:5px; }
.active { background-color: #eee; color: #545454; }
    .active ul { background-color: #272424; }

.nav_top { height: 30px; line-height:30px; background-color: #ddd; color: #bebebe; border-bottom: 1px solid #b6b6b6; padding-left:10px; }
.a_btn {border-radius:0; font-size:16px; margin:7px 15px 7px 0;}
.btn-warning { background-color:#E87E04;}
.span_size2 { font-size: 18px; margin: 15px; }
.nav_top_L { width: 56px; border-right: 1px solid #d1d1d1; display: inline-block; margin-right: 10px; }


.cont_L_top_tt { font-size: 20px; color: #545454; line-height: 24px; font-weight: bold; margin-bottom: 10px; }
.span_sm { font-size: 14px; color: #808080; margin-left: 20px; }



.cont_L_center { border: 1px solid #ccc; }
.cont_L_center_tt { border-bottom: 1px solid #ccc; font-size: 16px; background-color: #f9f9f9; }
.span_size_bge { font-size: 16px; margin: 10px; }
.cont_L_center_body { padding: 15px 15px 30px; background: #f9f9f9; }


/*------------------------- 广告报表--------------------------*/


.rept_tt { height:40px; line-height:40px; font-size:16px;font-weight:bold;padding-left:18px;}

        /*------审批失败--弹出层-------------*/
.app_pass { width: 360px; height: 260px; box-shadow: 0 0 6px #cfcfcf; margin: 20px; background-color: #fff; display: none; }
.app_pass_top { border: 1px solid #2e58ae; height: 30px; line-height: 30px; padding-left: 15px; background-color: #4587ef; color: #fff; font-size: 16px; }
.close_btn { display: inline-block; margin: 5px; cursor: pointer; }
.app_pass_btm { padding: 20px 10px; }
.textar { width: 340px; height: 145px; background-color: #eee; border: 1px solid #d7d7d7; }
.self_popover { position: absolute; z-index: 1000; left: 0; top: 0; }

/*------------------------- 广告报表---------完------------------*/






/*数据图*/
.demo-container { box-sizing: border-box; height: 450px; }
.demo-placeholder { clear: both; width: 100%; height: 100%; font-size: 14px; line-height: 1.2em; }

.demo-placelegend { width: 100%; }
    .demo-placelegend table { float: right; margin-right: 30px; }

.demo-container *, .demo-container *::before, .demo-container *::after { box-sizing: content-box; -moz-box-sizing: content-box; /* Firefox */ -webkit-box-sizing: content-box; /* Safari */ }


.nav > li > a.xl_a { padding-left: 20px; }
    .nav > li > a.xl_a:link, .nav > li > a.xl_a:visited { color: #333;}
    .nav > li > a.xl_a:hover { background-color:#fff; }
.nav > li.active > a.xl_a:link, .nav > li.active > a.xl_a:visited { font-size: 16px; color: #545454; font-weight: bold; }


/*-----------------------------------------上传文件-------------------*/
.clear_pad input[type='file'] { display: none; }
.btnfile { border: 1px solid #ccc; background-color: #fff; border-radius: 0px 0px; }




/*---------404-----------------*/
.sorry_bg {background-color:#eee;}

/*---------icon----------*/
.icon-border.icon-large { 
    border-radius:50%;
    border-color:#0866C6;
}

.icon-merchants { 
    padding:3px 9px;
}



/*----------------------基本信息-------------------------*/
.btn {padding:3px 15px;}
.nav_top2_body {padding:20px 15px;}
.blueCol {color:#0866c6;}
.blackCol {color:#000;}
.img_border {border:1px solid #959595;}
.add_more:link, .add_more:visited {color:#989898; display:block;}
.pad_div {padding:40px 15px; background-color:#eee;}
.plus_big { font-size:30px;}
.foot_con {border-top:1px solid #dbdbdb; font-size:12px; color:#989898; padding-top:5px;}


/*----------------场所地图--------------------------*/
.row_bg_map {height:40px; line-height:40px; background-color:#0866c6;}
.tr_bg {background-color:#000;}
.table td:nth-child(2n) {background-color:#f3f3f3;}
.foot_con {border-top:1px solid #dbdbdb; font-size:12px; color:#989898; padding-top:5px;}
.adview_a {background-color:#f3c500;display:inline-block; margin-right:15px;}
.adview_a_bg3 {background-color:#01bf9d;}
.adview_a_bg4 {background-color:#ff4724;}
.pagination > li > a, .pagination > li > span {padding:3px 12px;}


/*----------------------模态框-------------------------*/
.modal { margin-top:50px;}
.modal-content { border-radius:0px;}
.modal-header { line-height:45px;border-bottom:none;}
.modal-header .close { margin-top:10px;}
.modal_line_bule { height:35px;background-color:#0866c6;}
.form-horizontal .control-label-left { padding-top:7px;margin-bottom:0px;text-align:left;}

.redCol { color:#d80519;}

/*-------------人流分布----------------------*/
.form-control_change { border-radius: 0; background-color: #fff; margin-top:3px; }=======
.redCol { color:#d80519;}

/*----------------------登录和找回密码-------------------------*/
.sf-bule { background-color:#0866c6;}
.sf-content { 
    margin:60px auto;
    width:300px;
}
    .sf-content .form-group { text-align:center;}
    .sf-content .form-group .form-control,.sf-content .form-group button { border-radius:0px; height:40px; width:100%;}
    .sf-content .control-label { color:#fff; font-size:30px; font-weight:normal;}
.alignLeft { text-align:left;}
.alignRight { text-align:right;}
.signin-color,.signin-color a { color:#fff; margin-top:-5px; padding:0px; }
    .signin-color .checkbox { 
        margin-top:0px;
    }

/*----------------------在图-------------------------*/
#map-container { height:100%;}
iframe { width: 100%; height: 100%; border: none; }